<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.warems.warehouse.dao.OutDao" >
    <resultMap id="BaseMap" type="com.warems.warehouse.entity.Out" >
        <id column="c_id" property="cid" />
        <result column="c_encode" property="cencode"/>
        <result column="c_foodid" property="cfoodid"/>
        <result column="c_entrynum" property="centrynum"/>
        <result column="c_outnum" property="coutnum"/>
        <result column="c_rem_number" property="cremnumber"/>
        <result column="c_entrydate" property="centrydate"/>
        <result column="c_posencode" property="cposencode"/>
        <result column="c_entryman" property="centryman"/>

        <!--前面是数据库，后面是java-->
    </resultMap>
    <sql id="BaseColumn1">
        c_id,
        c_encode,
        c_foodid,
        c_entrynum,
        c_outnum,
        c_rem_number,
        c_entrydate,
        c_posencode,
        c_entryman
    </sql>
    <sql id="BaseColumn2">
        c_encode,
        c_foodid,
        c_entrynum,
        c_outnum,
        c_rem_number,
        c_entrydate,
        c_posencode,
        c_entryman
    </sql>
    <select id="getOne" resultMap="BaseMap" parameterType="com.warems.warehouse.entity.Out">
    SELECT
    <include refid="BaseColumn1"/>
    FROM
    view_out
    <where>
        <if test="cid != null">
            AND c_id = #{cid}
        </if>

    </where>
    </select>
    <select id="getAll" resultMap="BaseMap">
        SELECT
        <include refid="BaseColumn1"/>
        FROM
        view_out
    </select>




</mapper>
